// Colors
$color-primary: #174452;
$color-secondary: #072627;
$color-tertiary: #20443d;
$color-quaternary: #230e29;

$color-grey-light: #e2d9d9;
$color-grey-dark: #333;

$color-hover: #9cc1ce;
$color-link-hover: rgb(161, 148, 148);

$color-paragraph: #584d4d;

$color-green: #08350e;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
